<% if @article.errors.any? %>
    <h2>The following error(s) prevented the article from being saved:</h2>
    <ul>
        <% @article.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
    </ul>
    
<% end %>

<%# TODO: Style form %>
<%= form_with(model: @article, local: true) do |f| %>
  <div class="card align-items-center shadow" style="width: 18rem;">
    <ul class="w-100 list-group list-group-flush">
      <li class="list-group-item">        
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </li>
      <li class="list-group-item">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </li>
      
      <h5 class="text-center">Categories:</h2>
      <div class="form-check">
        <%= f.collection_select(:category_ids, Category.all, :id, :name, { prompt: "Select Categories:"}, { multiple: true, size: 3, class: "w-100 custom-select" }) %>
      </div>
    </ul>
    <div class="w-100 card-footer d-flex flex-nowrap justify-content-evenly">
      <%= f.submit 'Create Blog Post', :class => "btn btn-outline-success" %>
      <%= link_to 'Cancel', articles_path, :class => "btn btn-outline-danger"  %>
    </div>
  </div>
<% end %>