<div class='w-100 d-flex flex-column align-items-center my-5'>

<h1 class='mb-5 text-center'>Category: <%= @category.name %></h1>
<% if logged_in? && current_user.admin? %>
  <%= link_to 'Edit Category Name', edit_category_path(@category),class: 'mt-3 btn btn-outline-success' %>
<% end %>
<h3 class='mt-5 text-center'>Articles</h3>

<div class='container d-flex flex-column align-items-center'>
  <div class='page_info'>
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class='container d-flex flex-column align-items-center'>
  <div class='page_info'>
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>

</div>